body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
#hero, #site__main, #site__footer {
  width: 100%;
}

#site-main {
  flex-grow: 1;
}

:root {
  --green: #02897a;
  --blue: #4d8dff;
  --violet: #740a76;
  --light__black: #22343d; 
  --white: #fff;
  --red: #f03e3d;
  --first__dark: #1f2e35;
  --second__dark: #30444e;
  --third__dark: #475E69;
  --additional__color: #173a56;
}

.size__40 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: var(--light__black);
}
.size__34 {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: var(--light__black);
}
.size__32 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--light__black);
}
.size__24 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: var(--light__black);
}
.size__22 {
  font-weight: 600;
  font-size: 22px;
  line-height: 2.1rem;
  color: var(--light__black);
}
.size__p__18 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--light__black);
}
.size__16 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: var(--light__black);
}
.size__p__16__500 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 26px;
  color: var(--light__black);
}
.size__p__16__600 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 26px;
  color: var(--light__black);
}
.size__p__16 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  color: var(--light__black);
}
.size__16__40 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 40px;
  color: var(--light__black);
}
.size__l__20 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
}
.white__btn {
  padding: 9px 25px;
  color: var(--additional__color) !important;
  border-radius: 4px;
  background-color: transparent;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  border: 1px solid #BCD0E5;
  box-sizing: border-box;
  transition: 0.2s all ease;
}
.white__btn:hover {
  background-color: var(--green) !important;
  color: var(--white) !important;
  border: 1px solid var(--green);
}
.white__btn:active {
  opacity: 0.7;
}
.green__btn {
  padding: 9px 25px;
  color: var(--white) !important;
  border-radius: 4px;
  background-color: var(--green);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  transition: 0.2s all ease;
  border: 1px solid var(--green);
  box-sizing: border-box;
}
.green__btn:hover {
  background-color: transparent;
  color: var(--additional__color) !important;
  border: 1px solid #BCD0E5;
}
.green__btn:active {
  opacity: 0.7;
}
ul.list {
  list-style: none;
} 
a.link {
  text-decoration: none;
}
.padding {
  padding: 15px 33px;
}

/* START HERO */
#hero {
  min-height: 100vh;
}
#menu__social, #menu {
  display: none;
}
/* START NAVBAR */
.navbar .logo__box.col-xl-2 {
  flex-basis: 16% !important;
  min-width: 16%;
  max-width: 16%;
}
.logo__link > .row {
  flex-flow: row nowrap;
}
.logo__link .logo__two__img {
  margin-left: 1rem;
}
.navbar {
  padding: 19px 0;
}
.nav__item:not(:last-child) {
  padding: 9px 12.3px;
  overflow: hidden;
}
.nav__link {
  color: var(--light__black);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
  position: relative;
}
.nav__link:hover > span.line {
  transform: scaleX(1);
  opacity: 1;
}
.line {
  position: absolute;
  bottom: -4px;
  left: 0px;
  background-color: var(--light__black);
  width: 98%;
  text-align: center;
  height: 3.3px;
  transform: scaleX(0);
  opacity: 0;
  transition: 0.2s all ease;
}
.active {
  font-weight: 600;
}
.lightDark__btn {
  border: none;
  margin-left: 12.4px;
  color: var(--green);
  padding: 8px;
  background-color: #f3f3f3;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
  font-size: 23px;
}
/* END NAVBAR */
.bg {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.333);
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  transition: 0.3s opacity ease;
}
/* START HERO__CONTENT */
.hero__content {
  padding: 0 0 3.6rem 0;
}
.info__box {
  flex-grow: 1;
}
.info__box > h1 {
  margin-bottom: 12px;
}
.btns__box {
  margin-top: 2.8rem;
}
.btns__box .row > .green__btn {
  font-weight: 700;
}
.watch__btn {
  margin-left: 1.8rem;
  color: var(--green);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  transition: 0.3s all ease;
}
.fa-solid.fa-play  {
  font-size: 1.44rem;
  margin-right: 5px;
  line-height: 1.75rem;
}
.hero__main__img.img__box__img {
  width: 100%;
  margin-top: 2rem;
}
/* END HERO__CONTENT */
/* END HERO */

/* START FEATURE */
#feature {
  padding: 55px 0 90px 0;
  position: relative;
  min-height: 100vh;
}
#feature > .container .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 178px);
  grid-gap: 46px;
}
.feature__list {
  padding: 66px 0 88px 0;
}
.feature__title > h2 {
  text-align: center;
  margin: 0 10px;
}
.feature__item > img {
  width: 70px;
  margin-bottom: 23px;
  margin-left: -2px;
  transition: 0.3s transform ease;
}
.feature__item > img:hover {
  transform: translateY(-7px);
}
.feature__item > h3 {
  margin-bottom: 13px;
}
.bg__color {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
#feature .green__btn.padding.link {
  text-transform: uppercase;
}
/* END FEATURE */

/* START SERVICES */
#services {
  padding: 120px 0 100px 0;
}
#services .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 98px 64px;
  align-items: center;
}
.services__content {
  padding-right: 33px;
}
.content__title h3 {
  padding-bottom: 18px !important;
}
.content__title:first-child p {
  margin-bottom: -19px;
}
.services__content h3, h4 {
  padding: 25px 0 12px 0;
}
.padding__b {
  padding-bottom: 38px !important;
}
.element {
  padding-bottom: 20px;
}
.services__img > img {
  width: 100%;
}
.marin__bottom {
  margin-bottom: 16px;
}
.fa-solid.fa-check {
  background-color: orange;
  color: var(--white);
  padding: 11px 7px;
  border-radius: 17.5px;
  line-height: 18px;
  text-align: center;
  font-size: 18px;
  margin-right: 20px;
  transition: 0.3s transform ease;
}
.fa-solid.fa-check:hover {
  transform: translateY(-7px);
}
.red {
  background-color: red !important;
}
.blue {
  background-color: var(--blue) !important;
}
/* END SERVICES */

/* START TEAM */
#team {
  position: relative;
  padding: 100px 0;
}
#team > .container > .team__bg + h2, #team > .container > .row.center > p {
  text-align: center;
}
#team .team__bg {
  transform: rotateZ(180deg);
  position: absolute;
  top: 0;
  left: 0;
}
#team .team__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 25px 101px;
  justify-content: center;
  padding: 32px 0 48px 0;
}
#team .team__grid .img__order {
  order: 1;
}
#team .team__grid .text__end {
  text-align: end;
}
/* END TEAM */

/* ORDER__HISTORY */
#order__history {
  position: relative;
}
.history__title > h2.size__34 {
  margin-bottom: 8px;
}
.history__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 32px;
  padding: 33px 0 103px 0;
}
.history__item {
  border: 1px solid #dedede;
  border-radius: 8px;
  overflow: hidden;
}
.history__item > img {
  width: 100%;
  height: 218px;
}
.history__content {
  padding: 24px;
}
.bold__word {
  font-weight: 700;
}
.active__text {
  color: var(--green);
}
.dots__box {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.dot {
  font-size: 120px;
  color: #efefef;
}
.dot:nth-child(2) {
  color: var(--green);
}
/* END ORDER__HISTORY */

/* START PRICING */
#pricing {
  padding: 150px 0;
}
.pricing__title {
  text-align: center;
}
.pricing__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 456px);
  grid-gap: 69px;
  padding-top: 42px;
}
.pricing__card {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px; 
  padding: 6px 0 32px 0;
  text-align: center;
}
.green__card {
  background-color: var(--green);
  color: var(--white);
}
.pricing__card > .card__price {
  padding: 14px 8px;
}
.card__number {
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
}
.card__element {
  text-align: start;
}
.card__element > p:first-child {
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
  margin: -3px 0 3px 5px;
}
.card__element > p:last-child {
  margin: 0 0 0 5px;
  color: #c8c8c8 !important;
}
#btn__bg {
  background-color: var(--white) !important;
  color: var(--green) !important;
}
.pricing__btn {
  margin-top: 8px !important;
  display: inline-block;
}
.card__item {
  padding: 0 0 21px 0;
}
.white__text {
  color: var(--white) !important;
}
/* END PRICING */

/* START REVIEWS */
#reviews {
  padding-bottom: 100px;
}
.reviews__title {
  text-align: center;
  padding-bottom: 50px;
}
.reviews__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 238px);
  grid-gap: 65px;
}
.reviews__card {
  border: 1px solid #dedede;
  padding: 28px;
  border-radius: 8px;
}
.reviews__profile {
  padding-top: 17px;
}
.bx.bxs-star, .bx.bx-star {
  font-size: 25px;
  margin-bottom: 14px;
  color: #f3cd03;
}
/* END REVIEWS */

/* START cta */
#cta {
  padding: 50px 0;
}
.cta {
  background-color: var(--green);
  border-radius: 32px;
}
.cta__content {
  padding: 50px;
}
.cta__content > .cta__content__btn.white__btn.link {
  color: var(--green) !important;
  background-color: var(--white) !important;
  border: 1px solid var(--green);
  display: inline-block;
  margin-top: 55px;
}
.cta__content > .cta__content__btn.white__btn.link:hover {
  color: var(--white) !important;
  background-color: var(--green) !important;
  border: 1px solid var(--white);
}
.cta__img > img {
  width: 100%;
}
/* END cta */

/* START FOOTER */
#site__footer {
  padding: 100px 0 50px 0;
}
.social__media {
  margin-top: 28px;
}
.footer__grid {
  display: grid;
  grid-template-columns: auto 131px 141px 325px;
  grid-template-rows: 220px;
  margin-bottom: 57px;
}
.footer__item:first-child, .footer__form__text {
  font-size: 20px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  margin-bottom: 15px;
  color: var(--light__black);
}
.footer__item {
  font-size: 1rem;
  line-height: 35px;
  font-weight: 400;
}
.footer__link {
  color: var(--light__black);
}
.footer__form__text {
  margin-bottom: 30px;
}
#footer__input {
  width: 100%;
  padding: 17px 20px 17px 20px;
  border: 1px solid #edfffc;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  display: inline-block;
  margin-bottom: 44px;
}
#footer__input:focus {
  outline: none;
}
.author {
  text-align: center;
  color: var(--light__black);
}
/* END FOOTER */


@media only screen and (max-width:991px) {
  /* START HERO */
  #menu__social {
    display: inline-block;
    z-index: 150;
  }
  .fa-solid.fa-bars {
    font-size: 32px;
  }
  #menu:checked ~ .bg {
    opacity: 0.7;
  }
  #menu:checked ~ .nav__list {
    transform:  none;
  }
  .nav__list > .row {
    flex-flow: column;
  }
  .nav__list {
    position: fixed;
    right: 0;
    top: 0;
    background: linear-gradient(30deg, #fff, rgb(199, 199, 199));
    width: 70vw;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    border-left: 1.5px solid rgb(187, 186, 186);
    z-index: 100;
    transform: translateX(150%);
    transition: 0.3s transform ease;
  }
  .nav__item {
    align-self: flex-start;
    margin-left: 25px;
    display: block;
  }
  .top {
    margin-top: 80px;
  }
  .nav__list li:nth-child(5), li:nth-child(6) {
    margin-bottom: 15px;
  }
  .info__box > h1.size__40 {
    font-size: 32px;
    line-height: 1.3em;
    margin-top: 55px;
  }
  .info__box > p.size__p__18 {
    font-size: 16px;
    line-height: 1.4em;
  }
  /* END HERO */
  /* START FEATURE */
  #feature > .container .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 178px);
    grid-gap: 70px 50px;
  }
  /* END FEATURE */

  /* SERVICES */
  #services .grid {
    grid-gap: 98px 4px;
  }
  .services__img img {
    width: 90%;
  }
  .fa-solid.fa-check {
    font-size: 14px;
    margin-right: 20px;
    padding: 11px 21px 11px 11px !important;
    text-align: start;
  }
  /* TEAM */

  /* ORDER__HISTORY */
  .history__title {
    text-align: center;
  }
  .history__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .dots__box {
    display: none;
  }
  .history__item:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    width: 350px;
  }
  /* ORDER__HISTORY */
  /* PRICING */
  #pricing {
    padding: 0px 0 60px 0;
  }
  .pricing__grid {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(3, 496px);
    justify-content: center;
  }
  /* PRICING */
  /* REVIEWS */ 
  .reviews__title {
    padding: 50px 0;
  }
  .reviews__grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 238px);
    grid-gap: 32px;
    justify-content: center;
  }
  /* REVIEWS */

  /* cta */
  .cta > .row.between {
    justify-content: center;
    text-align: center;
  }
  /* cta */

  /* FOOTER */ 
  #site__footer {
    padding: 60px 0 50px 0;
  }
  .footer__grid {
    grid-template-columns: auto 250px;
    grid-template-rows: 130px 250px;
    margin-bottom: 57px;
    justify-content: center;
    text-align: center;
    grid-gap: 70px;
  }
  #site__footer .footer__logo .social__media > .row.evenly, .footer__logo .logo__link > .row {
    justify-content: center;
  }
}

@media only screen and (max-width:767px) {
  .hero__content {
    text-align: center;
  }
  .btns__box > .row {
    justify-content: space-between;
  }
  .watch__btn {
    margin-left: 0rem;
  }
  .info__box > h1.size__40 {
    font-size: 36px;
    line-height: 60px;
    margin-top: 55px;
    word-spacing: 3px;
  }
  .info__box > p.size__p__18 {
    font-size: 18px;
    line-height: 28px;
  }
  .hero__content > .row.between {
    justify-content: center;
  }
  .img__box {
    order: -1;
  }
  .btns__box {
    margin-top: 15px;
  }
  .feature__list {
    padding: 56px 0 48px 0;
  }
  .feature__title > h2 {
    margin: 0 0px;
    word-spacing: 3px;
  }
  .services__img img {
    width: 100%;
  }
  .services__content {
    padding-right: 0px;
  }
  .services__content__main > .row.between {
    justify-content: space-between;
  }
  .fa-solid.fa-check {
    font-size: 18px;
    margin-right: 10px;
    padding: 11px 28px 11px 11px !important;
  }

  /* FEATURE */
  #feature > .container .grid {
    grid-template-columns: repeat(1, 240px);
    grid-template-rows: repeat(4, 228px);
    grid-gap: 30px 50px;
    text-align: center;
  }
  .feature__list {
    display: flex;
    justify-content: center;
  }
  #services .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
  }
  #services .grid .order__1 {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
  }
  /* TEAM */
  #team .team__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    text-align: center;
  }
  #team .team__grid .team__item > .row.evenly {
    justify-content: space-between;
  }
  #team .team__grid > .team__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  #team .team__grid > .team__item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  #team .team__grid .text__end {
    text-align: center;
  }
  /* ORDER__HISTORY */
  .history__title {
    text-align: start;
  }
  .history__grid {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 10px;
  }
  .history__item {
    border: none;
  }
  .history__content {
    padding: 24px 0px 24px 0;
  }
  .dots__box {
    display: none;
  }
  .history__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 400px;
  }
  /* PRICING */
  #pricing {
    padding: 0px 0 60px 0;
  }
  .pricing__grid {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(3, 466px);
    grid-gap: 55px;
    padding-top: 42px;
  }
  /* START REVIEWS */
  .reviews__title {
    padding: 50px 0;
  }
  .reviews__grid {
    grid-template-columns: repeat(1, 388px);
    grid-template-rows: repeat(3, 238px);
    grid-gap: 62px;
  }
  /* END REVIEWS */
  /* cta */
  .cta__content {
    text-align: center;
  }
  /* FOOTER */ 
  #site__footer {
    padding: 60px 0 50px 0;
  }
  .footer__grid {
    grid-template-columns: auto;
    grid-template-rows: 130px 220px 220px 220px;
    margin-bottom: 57px;
    justify-content: center;
    text-align: center;
    grid-gap: 5px;
  }
  #site__footer .footer__logo .social__media > .row.evenly, .footer__logo .logo__link > .row {
    justify-content: center;
  }
}


@media only screen and (max-width:575px) { 
  .info__box > p.size__p__18 {
    padding: 0 15px;
  }
  .info__box > h1.size__40 {
    font-size: 34px;
    margin-top: 8px;
  }
  .info__box > h1.size__40 {
    word-spacing: 0px;
  }
  .btns__box > .row {
    justify-content: space-evenly;
  }
  .green__btn {
    padding: 9px 22.5px;
    font-size: 14px;
  }
  .watch__btn {
    margin-left: 0rem;
    flex-basis: 53%;
    font-size: 14px;
  }
  .history__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    grid-gap: 10px;
  }
  .history__content {
    padding: 24px 20px 24px 0px;
  }
  .history__item > img {
    width: 100%;
    min-width: 100%;
    height: 258px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }
  .history__item:last-child {
    width: 100%;
  }
  .history__item:last-child > img {
    height: 258px;
    object-fit: cover;
  }
  .reviews__title {
    padding: 50px 0;
  }
  .reviews__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 270px);
    grid-gap: 32px;
  }
  #pricing {
    padding: 0px 0 60px 0;
  }
  .pricing__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 466px);
    grid-gap: 35px;
    padding-top: 42px;
  }
  #site__footer .footer__logo .social__media > .row.evenly, .footer__logo .logo__link > .row {
    justify-content: center;
  }
  .cta__content {
    padding: 20px;
  }
}